<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>320520008445-1clv844o17mf0c60451r8r5mif6d0h4m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.320520008445-1clv844o17mf0c60451r8r5mif6d0h4m</string>
	<key>API_KEY</key>
	<string>AIzaSyC-gKqFzKwHfY5ODsNsgV3K_awGzVdydUo</string>
	<key>GCM_SENDER_ID</key>
	<string>320520008445</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.handong.baby.names</string>
	<key>PROJECT_ID</key>
	<string>baby-names-app-db-6b4bd</string>
	<key>STORAGE_BUCKET</key>
	<string>baby-names-app-db-6b4bd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:320520008445:ios:cf252344850cf5fad0c494</string>
	<key>DATABASE_URL</key>
	<string>https://baby-names-app-db-6b4bd.firebaseio.com</string>
</dict>
</plist>